<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Program</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link href="styles.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1>Program</h1>
    <p class="lead">Welcome to the program.</p>

		<p>
			<a href="/latest">Private Online Forum</a>
		</p>

    <h1>Module 1</h1>
		<iframe width="853" height="480" src="https://www.youtube.com/embed/GY7Ps8fqGdc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    <h1>Module 2</h1>
		<iframe width="853" height="480" src="https://www.youtube.com/embed/eY1HCqe9MBc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    
    <h1>Module 3</h1>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/lso-PoYqr14?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    
  </div>
</body>
</html>
